html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #333;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 13vh;
    padding-top: 2vh;
}

h1 {
    color: white;
    font-size: 3em;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    user-select: none;
    margin: 0;
}

/* h2 that is similar to h1 above */
h2 {
    color: white;
    font-size: 1.2em;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    user-select: none;
    margin-top: 0;
    padding-top: 6px
}

/* nav style for two links matching theme */
nav {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #333;
    font-family: 'Roboto', sans-serif;
    /*display all items on one line centered */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    padding-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding: 0 1em;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    border: 3px solid orange;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    background-color: #333;
}

li {
    line-height: 5vh;
    border: 5px solid orange;
    border-bottom: none;
    font-size: 1.5em;
    text-align: left;
    user-select: none;
    padding-left: 15px;
    transition: background-color 0.5s ease-in-out;
}

li:last-child {
    border-bottom: 5px solid orange;
}

li a.selected{
    border-bottom:2px solid orange;
}

a {
    text-decoration: none;
    color: white;
}

li:hover, nav a:hover {
    background-color: rgb(110, 105, 105);
    cursor: pointer;
}

li span {
    visibility: hidden;
    opacity: 0;
    transition: visibility ease-in 0.5s, visibility ease-out 0s, opacity 0.5s linear;
    display: block;
    height: 0;
    /* span text for description */
    font-size: 1em;
}

.show {
    visibility: visible;
    opacity: 1;
    height: auto;
}